<?xml version="1.0" encoding="utf-8"?>
<FormParams xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <normalLeft>599</normalLeft>
  <normalTop>89</normalTop>
  <normalWidth>1032</normalWidth>
  <normalHeight>964</normalHeight>
  <formWindowState>Maximized</formWindowState>
  <intParams />
  <doubleParams />
  <stringParams>
    <string>Interface/Ingame/Alchemy/MainForm.(WidgetForm).xdb</string>
    <string>Interface/Ingame/ContextEventCalendar/MainForm.(WidgetForm).xdb</string>
    <string>Interface/Ingame/ContextPlates/AvatarsPlate.(WidgetPanel).xdb</string>
    <string>Interface/Ingame/ContextPlates/Party.(WidgetPanel).xdb</string>
    <string>Interface/Ingame/ContextPlates/MainForm.(WidgetForm).xdb</string>
    <string>Interface/Ingame/ContextPlates/AddonDesc.(UIAddon).xdb</string>
    <string>Interface/Ingame/ContextPartyPlate/MainForm.(WidgetForm).xdb</string>
    <string>Interface/Ingame/ContextCharacter/ButtonStable.(WidgetButton).xdb</string>
    <string>Interface/Ingame/ContextCharacter/CharacterView.(WidgetControl3D).xdb</string>
    <string>Interface/Ingame/ContextCharacter/MainForm.(WidgetForm).xdb</string>
    <string>Interface/Ingame/LagMeter2/MainForm.(WidgetForm).xdb</string>
    <string>Interface/Ingame/StalkerCartridgeBelt/BeltPanel.(WidgetPanel).xdb</string>
    <string>Interface/Ingame/StalkerCartridgeBelt/Frame.(UITextureElement).xdb</string>
    <string>Interface/Ingame/StalkerCartridgeBelt/MainForm.(WidgetForm).xdb</string>
    <string>Interface/Ingame/StalkerCartridgeBelt2/MainForm.(WidgetForm).xdb</string>
    <string>Interface/Ingame/StalkerCartridgeBelt2/PanelTextures/ArrowClipTexture.(UITexture).xdb</string>
    <string>Interface/Ingame/StalkerCartridgeBelt2/PanelTextures/Highlight.(WidgetPanel).xdb</string>
    <string>Interface/Ingame/StalkerCartridgeBelt2/PanelTextures/IncendiaryBorder.(WidgetPanel).xdb</string>
    <string>Interface/Ingame/StalkerCartridgeBelt2/LightningQuiver.(WidgetPanel).xdb</string>
    <string>Interface/Ingame/StalkerCartridgeBelt2/LightningArrowPanel.(WidgetPanel).xdb</string>
  </stringParams>
  <comboBoxParams />
  <textBoxParams />
  <checkBoxParams />
  <toolStripButtonParams />
  <radioButtonParams />
  <gridColumnParams />
  <splitContainerParams />
  <listViewParams />
</FormParams>