<?xml version="1.0" encoding="utf-8"?>
<ScriptEditorSettingsConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <scriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.impacts.ImpactsDeferred</scriptType>
      <fields>
        <string>delay</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.impacts.ImpactIncrementItemCount</scriptType>
      <fields>
        <string>summand</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.impacts.ImpactIncrementItemsCount</scriptType>
      <fields>
        <string>item</string>
        <string>summand</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.impacts.ImpactClientDataCoords</scriptType>
      <fields>
        <string>data</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.impacts.ProbabilisticImpactBinary</scriptType>
      <fields>
        <string>chance</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.impacts.ImpactSummon</scriptType>
      <fields>
        <string>object</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.device.DeviceImpactsDeferred</scriptType>
      <fields>
        <string>delay</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.device.ImpactDeviceSummon</scriptType>
      <fields>
        <string>object</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.impacts.ResetSpawnTable</scriptType>
      <fields>
        <string>table</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.impacts.SpawnTableObjects</scriptType>
      <fields>
        <string>table</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.impacts.ImpactsIfTarget</scriptType>
      <fields />
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.predicates.PredicateItemCountGreater</scriptType>
      <fields>
        <string>value</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.predicates.PredicateItemsCountGreater</scriptType>
      <fields>
        <string>item</string>
        <string>value</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.impacts.ImpactActivateAggro</scriptType>
      <fields>
        <string>value</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.impacts.ImpactIncreaseQuestCount</scriptType>
      <fields>
        <string>id</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.impacts.ImpactTeleport</scriptType>
      <fields>
        <string>map</string>
        <string>yaw</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.predicates.PredicateQuestCounterNotLess</scriptType>
      <fields>
        <string>counterResource</string>
        <string>quest</string>
        <string>value</string>
      </fields>
      <comment>Счётчик больше или равен</comment>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.impacts.ImpactScriptZoneSetDisabled</scriptType>
      <fields>
        <string>disable</string>
        <string>zone</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.constructor.schemes.buff.BuffAttacher</scriptType>
      <fields>
        <string>buff</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.predicates.PredicateInScriptZone</scriptType>
      <fields>
        <string>zone</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.resources.ResourceBuff</scriptType>
      <fields>
        <string>buff</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.impacts.ImpactCreaturesAround</scriptType>
      <fields>
        <string>radius</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.impacts.DirectDamage</scriptType>
      <fields>
        <string>damage</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.impacts.ImpactGiveItem</scriptType>
      <fields>
        <string>count</string>
        <string>item</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.impacts.ImpactFindPermanentDevice</scriptType>
      <fields />
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.device.ImpactDeviceSetVisualState</scriptType>
      <fields>
        <string>visualState</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.device.DoorSwitch</scriptType>
      <fields>
        <string>switchType</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.effects.ImpactsOverTime</scriptType>
      <fields>
        <string>tick</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.impacts.ImpactFindSpawnTable</scriptType>
      <fields>
        <string>spawnResource</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.impacts.ImpactDestroyItem</scriptType>
      <fields>
        <string>item</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.constructor.schemes.quest.trigger.ImpactAttachTrigger</scriptType>
      <fields>
        <string>trigger</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.predicates.PredicateVariableValueGreatThan</scriptType>
      <fields>
        <string>value</string>
      </fields>
    </ScriptSettings>
    <ScriptSettings>
      <scriptType>gameMechanics.elements.predicates.PredicateVariableValueLessThan</scriptType>
      <fields>
        <string>value</string>
      </fields>
    </ScriptSettings>
  </scriptSettings>
</ScriptEditorSettingsConfig>